<style>
  .footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer_element {
    flex-basis: 50%;
  }
</style>

<div class="footer_container">
    <div class="nav_element" style="text-align:left;">
À propos de ce site : <a class="internal-link" href="/about">pourquoi/comment/où/quoi/quand?</a>
</div>

  <div class="footer_element" style="text-align:right;">
 <script type="text/javascript">
   var part1 = "email";
   var part2 = Math.pow(2, 6);
   var part3 = String.fromCharCode(part2);
   var part4 = "christianpacaud.com"
   var part5 = part1 + String.fromCharCode(part2) + part4;
   document.write('<a class="internal-link" href=' + "mai" + "lto" + ":" + part5 + ">" + "Écrivez-moi." + "</a>");
 </script>
  / <a href="mailto:cpacaudspotify@outlook.com">cpacaudspotify@outlook.com</a>
 <!-- &mdash; <a class="btn btn-rss" href="/feed/notes.xml" target="_blank">RSS</a> -->
 </div>

 </div>
